span{

}

.pn{
  display: inline-block;
  text-align: center;
  height: 19px;
  width: 19px;
  cursor: pointer;
  margin: 2px 7px;
}

.prepn {
  display: inline-block;
  margin: 3px;

}

.pn:hover{
  border: 1px solid #EEE;
  border-radius: 100%;
  background-color: #EEE;
  margin: 2px 6px;
}

.selected {
  color: red;
}